absl-py==0.11.0
astor==0.8.1
cached-property==1.5.2
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
filelock==3.0.12
Flask==1.1.2
gast==0.4.0
gdown==3.12.2
grpcio==1.20
h5py==3.0.0
idna==2.10
importlib-metadata==2.0.0
itsdangerous==1.1.0
Jinja2==2.11.3
Markdown==3.3.3
MarkupSafe==1.1.1
numpy==1.16.1
opencv-python==4.4.0.44
Pillow==8.0.1
protobuf==3.13.0
PySocks==1.7.1
requests==2.25.1
scipy==1.0.0
six==1.15.0
tensorboard==1.9.0
tensorflow==1.9.0
termcolor==1.1.0
tqdm==4.57.0
urllib3==1.26.3
Werkzeug==1.0.1
zipp==3.4.0
